
/* navbar */
* {
   margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.font-inter{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}

body{
    background: #ffffff ;
}
 

.navbar{
    border-bottom: 1px solid #E0E0E0;
    padding: 34px 0;
}

/* main layout */
.nav-container{
    max-width: 1600px;
    margin: 0 auto;
    padding: 0 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

img{
    width: 139px;
    height: auto;
}

.nav-links{
    list-style: none;
    display: flex;
    gap: 32px;

}

.nav-links a {
    text-decoration: none;
    color:#000000 ;
    font-size:16px ;
    font-weight: 500;
}

.nav-links a:hover {
    color: #30B868;
}

/* button */
.btn{
    background-color: #30B868;
    border: none;
    padding: 16px 12.5px;
    border-radius: 6px;
    font-weight: bold;
    font-size: 16px;
    color: white;
    text-decoration: none;
}
.btn:hover {
    background-color: #28a745;
}

/* hero section */

.hero{
    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
    background: url(./assets/main-hero-bg.png) center/cover no-repeat;
    height:100vh;
}

/* overlay section */
.overlay {
    position: absolute;
    inset: 0;
    background: linear-gradient(
        rgba(10, 25, 40, 0.75),
        rgba(10, 25, 40, 0.75)
    );
    z-index: 0;
}

.hero-content {
    position: relative;
    z-index: 1;
    max-width: 1360px;
    color: #ffffff;
    text-align: center;
    padding: 0 24px;
}

.note{
    display: inline-flex;
    align-items: center;
    gap: 6px;
    padding: 8px 12px;
    background: #ffffff;
    color: #30B868;
    border-radius: 990px;
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 16px;
}
.early-access {
    width: 8px;
    height: 8px;
    background: #30B868;
    border-radius: 50%;
}

/* headline section */

.hero-content h1 {
    font-size: 72px;
    font-weight: 700;
    margin-bottom: 24px;
    margin-bottom: 16px;
}

.hero-content h1 span{
    color: #30B868;
}

/* description */
.hero-content p{
    font-size:  18px;
    line-height:1.6;
    max-width: 770px;
    margin: 0 auto 36px;
    color: #ffffff;
}

/* buttons */
.buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.first-btn{
    background-color: #30B868;
    color: white;

    padding: 16px 12.5px;
    border-radius: 6px;
    font-weight: 600;
    font-size: 16px;
    text-decoration: none;

}
.first-btn:hover {
    background-color: #28a745;
}

.second-btn{
    display: inline-flex;
    align-items: center;
    gap:10px;

    color: #ffffff;
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
    
    padding: 14px 12.5px;
    border-radius: 6px;
    background: transparent;
    border: 1px solid rgba(255, 255, 255, 0.45);
}
.second-btn:hover{
    background-color: rgba(255,255,255,0.12);
    background: rgba(255,255,255,0.08);
}
