
/* navbar */
* {
   margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.font-inter{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}

body{
    background: #ffffff ;
}
 

.navbar{
    border-bottom: 1px solid #E0E0E0;
    padding: 34px 0;
}

/* main layout */
.nav-container{
    max-width: 1600px;
    margin: 0 auto;
    padding: 0 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

img{
    width: 139px;
    height: auto;
}

.nav-links{
    list-style: none;
    display: flex;
    gap: 32px;

}

.nav-links a {
    text-decoration: none;
    color:#000000 ;
    font-size:16px ;
    font-weight: 500;
}

.nav-links a:hover {
    color: #30B868;
}

/* button */
.btn{
    background-color: #30B868;
    border: none;
    padding: 16px 12.5px;
    border-radius: 6px;
    font-weight: bold;
    font-size: 16px;
    color: white;
    text-decoration: none;
}
.btn:hover {
    background-color: #28a745;
}

/* hero section */

.hero{
    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
    background: url(./assets/main-hero-bg.png) center/cover no-repeat;
    height:100vh;
}

/* overlay section */
.overlay {
    position: absolute;
    inset: 0;
    background: linear-gradient(
        rgba(10, 25, 40, 0.75),
        rgba(10, 25, 40, 0.75)
    );
    z-index: 0;
}

.hero-content {
    position: relative;
    z-index: 1;
    max-width: 1360px;
    color: #ffffff;
    text-align: center;
    padding: 0 24px;
}

.note{
    display: inline-flex;
    align-items: center;
    gap: 6px;
    padding: 8px 12px;
    background: #ffffff;
    color: #30B868;
    border-radius: 990px;
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 16px;
}
.early-access {
    width: 8px;
    height: 8px;
    background: #30B868;
    border-radius: 50%;
}

/* headline section */

.hero-content h1 {
    font-size: 72px;
    font-weight: 700;
    margin-bottom: 24px;
    margin-bottom: 16px;
}

.hero-content h1 span{
    color: #30B868;
}

/* description */
.hero-content p{
    font-size:  18px;
    line-height:1.6;
    max-width: 770px;
    margin: 0 auto 36px;
    color: #ffffff;
}

/* buttons */
.buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.first-btn{
    background-color: #30B868;
    color: white;

    padding: 16px 12.5px;
    border-radius: 6px;
    font-weight: 600;
    font-size: 16px;
    text-decoration: none;

}
.first-btn:hover {
    background-color: #28a745;
}

.second-btn{
    display: inline-flex;
    align-items: center;
    gap:10px;

    color: #ffffff;
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
    
    padding: 14px 12.5px;
    border-radius: 6px;
    background: transparent;
    border: 1px solid rgba(255, 255, 255, 0.45);
}
.second-btn:hover{
    background-color: rgba(255,255,255,0.12);
    background: rgba(255,255,255,0.08);
}


/* features section */
#features{
    background-color:#ffffff ;
    text-align: center;
    padding:130px 24px ;

}

.features-card{
    max-width:1360px;
    margin: 0 auto;
}

/* header-section */

.features-header h2 {
    font-size: 48px;
    max-width: 1360px;
    margin-bottom:16px ;
    color: #001931;
}

.features-header p {
    font-size: 16px;
    line-height: 28px;
    color: #627382;
    max-width: 1360px;
    margin: 0 auto 36px;
    line-height: 1.6;
}
/* the grid layout for the cards */
.grid{
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
    justify-content: center;
}

.card{
    flex: 1;
    min-width: 250px;
    padding: 40px 24px;
    border: 1px solid #E0E0E0;
    border-radius: 5px;
    background: #ffffff ;
    box-shadow: 0px 1px 1px 1px rgba(113, 106, 106, 0.075);
}

.icons{
    height: 60px;
    width: 60px;
    background-color:#f95555 ;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 20px;
}

.icons img{
    width: 32px;
    height: auto;
    display: block;
}

.card h3{
    font-size: 24px;
    color: #001931;
    margin-bottom: 16px;
}

.card p{
    font-size: 16px;
    color: #627382;
    line-height: 1.5;

}

/* solution-part */

.solution {
    background-color: #ffffff;
    padding: 120px 120px;
    display: flex;
    justify-content: center;
}

.content-box{
    max-width: 1360px;
    width: 100%;
}

/* the-split-section */

.split-layout {
    display: flex;
    align-items: center;
    gap: 60px;
    flex-wrap: wrap;
}

.left-side, .right-side {
    flex: 1;
    min-width: 300px;
}

.left-side img {
    width: 100%;
    height: auto;
    display: block;
}

/* styling */

.title{
    color: #30B868;
    font-weight: 500;
    font-size: 16px;
    display:block;
    margin-bottom: 16px;
}

/* .right-side */

.right-side h2 {
    font-size: 48px;
    color: #001931;
    margin-bottom: 16px;
    font-weight: 700;
}

.right-side p {
    font-size: 16px;
    font-weight: 400;
    color: #627382;
    line-height: 1.6;
    margin-bottom: 40px;
}

.checklist li{
    display: flex;
    align-items: center;
    gap:6px;
    margin-bottom: 16px;
    color:#001931;

}

.checklist li img{
    width: 20px;
    height: auto;
    
}

/* .early-access */
.early-acc {
    background-color:#ffffff;
    padding: 0px 120px 120px 120px;
    display: flex;
    justify-content: center;
}

.acc-box{
    max-width: 1360px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.cta-box{
    background-color:#f7f6f2 ;
    padding: 80px 40px;
    border-radius: 24px;
    text-align: center;
    width: 100%;
    max-width: 1000px ;
    margin: 0 auto;
}


/* styling */

.cta-box h2 {
    font-size: 40px;
    color: #001931;
    margin-bottom: 16px;
    font-weight: 700;
}

.sub-text{
    font-size: 16px;
    color: #627382;
    max-width: 600px;
    margin: 0 auto 40px;
    line-height: 1.6;
}

.cta-btn{
    background-color: #469165;
    color: white;
    padding: 16px 16.5px;
    border-radius: 6px;
    font-weight: 600;
    font-size: 16px;
    border: none;
    cursor: pointer;
    margin-bottom: 16px;


}

.cta-btn:hover {
    background-color: #166534; 
}

.small-note{
    font-size: 16px;
    color: #627382;
}